<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pokeverse</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
</head>

<body>
  <div>
    <header>
      <nav class="custom-navbar" style="height: 100px">
        <div class="navbar-container">
          <div class="logo-container">
            <img src="/static/images/pokeball.webp" class="pokeball" alt="Pokeball Logo" />
          </div>
    
          <span class="heading">PokeVerse</span>
    
          <div class="nav-links">
            <a href="{{url_for('home')}}" class="nav-link">Home</a>
            <a href="{{ url_for('pokedex') }}" class="nav-link">Pokédex</a>
            <a href="{{ url_for('games') }}" class="nav-link">Games</a>
          </div>
        </div>
      </nav>
    </header>
</div>
</body>
</html>
 